* {
  border: none;
  font-family: Ubuntu Nerd Font;
    font-size: 16px;
}

window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  background-color: #110E26;
  /* background-color: rgba(0, 0, 0, 0); */
  /* border-bottom: 3px solid #1e1e2e; */
  border-bottom: 3px solid #110E26;
  color: #fdc8ff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-arch-pill {
  /* background-color: #1e1e2e; */
  color: #cdd6f4;
  font-family: Ubuntu Nerd Font, sans-serif;
  font-size: 20px;
}

#custom-kernel {
  font-family: Ubuntu Nerd Font;
  font-size: 16px;
  color: #f38ba8;
  background-color: #1e1e2e;
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;
}

#custom-updates {
  font-family: Ubuntu Nerd Font;
  font-size: 16px;
  color: #b4befe;
  background-color: #1e1e2e;
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;

}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#clock,
#idle_inhibitor,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#tray {
  background-color: #1e1e2e;
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #3daee9;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

#workspaces button.focused {
  color: #fdc8ff;
}

#workspaces button.urgent {
  color: #e06c75;
}

#cpu {
  color: #cba6f8;
}

#memory {
  color: #3daee9;
}

#temperature {
  color: #ea75aa;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1e1e2e;
}

#custom-media {
  background-color: #c678dd;
  color: #1e1e2e;
}

#custom-fans {
  color: #98c379;
}

#clock {
  color: #ea76cb;
}

#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e1e2e;
}

#language {
  color: #cba6f7;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  background-color: #e06c75;
  color: #1e1e2e;
}

#backlight {
  color: #61afef;
}

#battery {
  color: #98c379;
}

#battery.charging, #battery.plugged {
  background-color: #98c379;
  color: #1e1e2e;
}

@keyframes blink {
    to {
        background-color: #1e1e2e;
        color: #e06c75;
    }
}

#battery.critical:not(.charging) {
    background-color: #e06c75;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #c678dd
}

#network.disconnected {
    background-color: #e06c75;
    color: #1e1e2e;
}
